*{
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    width:100%;

}

.padding{
    padding: 3rem;

}

.padding-top{
    padding-block-start: 3rem;
}

.section-heading{
    font-size:1.5rem;
    font-weight: 700;
}
.padding-header{
    padding-inline: 3rem;
}

.container{
    font-family: inter, sans-serif;
}

.header-1{
    font-size: 3rem;
    font-weight:700;
    line-height: 1.1;
}

.body-content{
    font-size: 1.25rem;
    font-weight:400;
    line-height: 1.5;
    padding-block: 2rem;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo{
    width:64px;
    height: 64px;
}

.menu-item{
    display:flex;
    justify-content: space-around;
    gap: 40px;
    list-style-type: none;
    

}

.hero-section{
    background-color: #f2f2f2;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.content{
    align-self: center;
}

.client-logo{
    background-color: #f7f7f7;
    display:flex;
    flex-direction: column;
    
}

.client-logo>*{
    justify-self: center;
}

.client-logo>:nth-child(odd){
    align-self: center;
}

.clients{
    display:flex;
    justify-content: space-evenly;
}

.client-img{
    height :32px;
    width:128px;
}

.services{
    padding-inline: 10rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.service{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
}

.service-img{
    width:100%;
    height:auto;
    grid-row: 1/-1;
    grid-column: 1/-1;
}

.service-content{
    background-color: azure;
    padding-block: 1rem;
    padding-inline: 1rem;
    text-align: center;
    grid-row: -2/-1;
    grid-column: 1/-1;
    z-index: 1;
}